:root {
  --map-height: 500px;
  --standard-button-size: 200px;

  --main-bg-color: white;
  --main-text-color: #666;
  --region-color: #a0d2ff;
  --outline-color: rgb(42, 77, 107);
  --hover-color: rgb(105, 172, 231);
  --region-active-color: #007bff;
  --main-shadow-color: rgba(0, 0, 0, 0.2);
  --buttons-shadow-color: rgba(42, 77, 107, 0.4);
  --tooltip-background-color: rgba(255, 255, 255, 0.8);
  --back-background: #f3f3f3;
  --standard-fg: black;
}

/* [data-theme="dark"] {
  --main-bg-color: rgb(97, 26, 174);
  --main-text-color: #FFFFFF;
  --region-color: rgb(255, 96, 146);
  --outline-color: rgb(255, 215, 228);
  --hover-color: rgb(191, 21, 62);
  --region-active-color: rgb(235, 12, 73);
  --main-shadow-color: rgba(253, 175, 200, 0.2);
  --buttons-shadow-color: rgba(254, 167, 194, 0.4);
  --tooltip-background-color: rgba(208, 205, 237, 0.8);
  --back-background: rgb(68, 18, 123);
  --standard-fg: rgb(255, 215, 228);
} */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /* color: var(--standard-fg); */
}

body {
  background-color: var(--back-background);
}

/* html::-webkit-scrollbar {
  display: none;
} */

header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  margin: 0 auto;
  border-radius: 0px 0px 12px 12px;
  background-color: var(--main-bg-color);
  box-shadow: 0 2px 10px var(--main-shadow-color);
  z-index: 10;
}

.app-header {
  transition: all 0.3s ease;
  transform: translateY(0);
}

.header-hidden {
  transform: translateY(-100%);
  pointer-events: none;
}

.header-pos-change-button {
  width: 70px;
  height: 40px;
  position: fixed;
  left: 12vw;
  padding: 2px 4px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 10px var(--main-shadow-color);
  z-index: 10;
}

.header-pos-change-button:hover {
  transform: translateY(0px);
}

.header-pos-change-button-text {
  transition: all 0.3s ease;
  color: var(--outline-color);
  font-size: 12px;
}

button {
  width: var(--standard-button-size);
  min-height: min(50px, calc(var(--standard-button-size) / 4));
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  background-color: var(--region-color);
  color: var(--outline-color);
  user-select: none;
}

button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px var(--buttons-shadow-color);
}

button:active {
  transform: translateY(0);
  background-color: var(--region-active-color);
}

.calculateButton {
  background-color: #a8ffa0;
  color: rgb(32, 82, 32);
}

.calculateButton:hover {
  background-color: rgb(105, 231, 105);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(32, 82, 32, 0.4);
}

.calculateButton:active {
  transform: translateY(0);
  background-color: #00ff0d;
}

.App {
  transition: all 0.3s ease;
  text-align: center;
}

.App-header-on {
  padding: var(--map-height) 0px 0px 0px;
}

.map-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  height: var(--map-height);
  margin: 0 auto;
  gap: 30px;
  padding: 0px 24px;
}

.map-container::-webkit-scrollbar {
  width: 0;
}

.map-container svg {
  height: 100%;
  padding: 24px 0px;
}

.region {
  cursor: pointer;
  transition: all 0.3s ease;
  stroke-width: 1;
  stroke: var(--outline-color);
  fill: var(--region-color);
}

.region:hover {
  fill: var(--hover-color);
}

.region.active {
  fill: var(--region-active-color);
  stroke: var(--outline-color);
}

.controls-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}

.controls-container-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  padding: 24px;
  box-shadow: 0 2px 10px var(--main-shadow-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}
.controls-container-col-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 0 auto;
  padding: 0px 24px;
  transition: all 0.3s ease;
}
.controls-container-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.all-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  background-color: var(--main-bg-color);
  padding: 24px;
  box-shadow: 0 2px 10px var(--main-shadow-color);
  border-radius: 12px;
  gap: 10px;
  transition: all 0.3s ease;
}

.info-title {
  font-weight: 600;
  font-size: 1.2em;
}

.info-subtitle {
  font-weight: normal;
  text-align: left;
}

.info-text {
  font-weight: normal;
  text-align: justify;
}

.no-input {
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.all-charts {
  display: flex;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
  transition: all 0.3s ease;
}

.region-tooltip {
  position: fixed;
  background: var(--tooltip-background-color);
  color: rgba(102, 102, 102, 0.8);
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  pointer-events: none;
  z-index: 11;
  word-break: break-word;
  width: var(--standard-button-size);
  box-shadow: 0 2px 10px var(--main-shadow-color);
  transform: translate(0%, -100%);
}

b {
  font-weight: 600;
}

@media (orientation: portrait) {
  html::-webkit-scrollbar {
    display: none;
  }
  body {
    background-color: var(--back-background);
    scrollbar-width: none;
  }
}

@media (orientation: portrait), (max-width: 960px) {
  :root {
    --standard-button-size: min(40vw, 40vw);
  }

  header {
    width: 100vw;
    left: 0;
  }

  .map-container {
    padding: 12px 0;
    flex-direction: column;
    overflow-y: auto;
  }

  .map-container svg {
    min-height: 400px;
    padding: 0;
  }

  .info-container {
    width: 100vw;
  }

  /* .all-charts {
    width: 100vw;
  } */

  .all-charts {
    flex-direction: column;
  }

  .controls-container-col {
    padding: 12px;
  }

  .region-tooltip {
    display: none;
  }
}