.App {
  text-align: center;
}

.map-container {
  text-align: center;
  padding: 20px;
  max-width: 60vw;
  margin: 0 auto;
  border-radius: 15px;
}

.subject {
  cursor: pointer;
  transition: all 0.3s ease;
  stroke-width: "5";
  stroke: rgb(42, 77, 107);
}

.subject:hover {
  fill: rgb(105, 172, 231) !important;
}

.subject.active {
  fill: #007bff !important;
  stroke: rgb(42, 77, 107);
  stroke-width: 1.5;
}