.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  padding: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.recharts-sector:active,
.recharts-sector:focus,
.recharts-line:active,
.recharts-line:focus,
.recharts-bar-rectangle:active,
.recharts-bar-rectangle:focus {
  outline: none;
  stroke: none;
}

.recharts-wrapper svg:focus {
  outline: none;
}

.recharts-surface:focus {
  outline: none;
}

.recharts-default-tooltip {
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(102, 102, 102, 0.8) !important;
  border: none !important;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600 !important;
  pointer-events: none;
  z-index: 11;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.svg.recharts-surface {
  align-self: center;
}

.chart {
  z-index: 1;
}

.download-button {
  align-self: center;
}