.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  width: 500px;
  animation: slideUp 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 24px;
  border-bottom: 1px solid #e0e0e0;
  background: #f8f9fa;
}

.error-header {
  background: #f7e9e9;
  border-bottom: 1px solid #bdb3b3;
}

.loading-header {
  background: #e9f7ea;
  border-bottom: 1px solid #b3bdb3;
}

.modal-title {
  color: #333;
  font-weight: 600;
  font-size: 1.2em;
}

.modal-close-btn {
  background-color: rgb(250, 182, 182);
  border: none;
  cursor: pointer;
  color: #333;
  width: 50px;
  border-radius: 12px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.modal-close-btn:hover {
  background-color: rgb(250, 182, 182);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(107, 42, 42, 0.4);
}

.modal-content {
  padding: 24px;
  max-height: 300px;
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
  width: 0;
}

.modal-message {
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (orientation: portrait), (max-width: 768px) {
  .modal-container {
    width: 90vw;
  }
}